@use 'functions' as fu;
@use 'fonts' as f;

.uppercase {
    text-transform: uppercase;
}

.gb-wrapper {
    display: flex;
    margin-top: 1rem;
    gap: 8.3rem;
}

.progress-bar {
    width: 100%;
    height: 1.2rem;
    background-color: var(--neutral-vdb);
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.circle {
    width: 0.7rem;
    height: 0.7rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    transform: translate(fu.rem(135), fu.rem(2));
}

.inline {
    color: var(--neutral-gb);
    font-size: fu.rem(14);
    font-weight: f.$fw-700;
}