@use '../util/' as u;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: u.$font;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/src/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
